server:
  part: 8080

spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/fitrdb
    username: ambroseblay
    password: 'password'

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update

---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: validate